h2{
    font-size: 6vh;
}
ul {
    list-style: none;
}
html body {
    background-color: #2D3A3A;
}
header{
    background-color: #2D3A3A;
}
#menuout{
    background: none;
    color: #fff;
    font-size: 5vh;
    border: none;
    outline: none;
}
.arrow{
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #FCFFFC;
}
.lotx{
    color:#FCFFFC;
}
.bak{
    background-image: url(../images/storna.jpg);
    background-repeat: repeat;
}
/* .sidepics{
    background-image: url(../images/30daysreplay-pr-marketing-oUEjgB_VusE-unsplash.jpg);
    background-repeat: norepeat;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
} */
.maintextzone{
    background-color: #FCFFFC;
    border-radius: 40px;
}
form textarea{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.6);
}
form input{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.6);    
}
.arttainer>.artykul4 h3{
    font-size: 18px;
}
.artykul1 h3{
    font-size: 40px;
 }
article a{
    color:#000;
}
article hr{
    border: .3px solid #000;
} 
nav {
    background-color: rgba(45, 58, 58, 0);
}
.menuact{
    background-color: #172e2e;
    color: #fff;
    border-radius: 30px;
}
 .lista>ul>hr{
    color: #707070;
    border: 1px solid #707070;
}
a{
    color:#fff;
}
footer{
    background-color:#FCFFFC;
    border: solid 2px rgb(40, 58, 58);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding:10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FCFFFC; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(215, 219, 215); 
  }
@media(max-width:1024px){
.menu{
    background-color: #172e2e;
    border-radius: 30px;
}
}
@media(max-width:640px){
    nav {
        background-color: rgba(45, 58, 58, 1);
    }
}